/* -----------------------------------------FONTS -----------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: "Quadraat";
    src: url('../css/fonts/QuadraatOT-Regular.otf');
}

/*----------------------------------------- VARIABLES ------------------------------------*/


@pink: #fccdb1;
@yellow: #fdeaa6;
@green: #98bcaa;
@maroon: #8b181a;
@brown: #EFE8D8;
@salmon: #FBCDB1;
@gray: #E6E6E6;

@footer-height: 50px;
@footer-background-color: white;
@footer-icons-height: 15px;
@footer-icons-width: @footer-icons-height;
@navbar-height: @footer-height;
@navbar-background-color: white;
@navbar-font-size: 16px;
@text-font-size: 12px;
@subtitle-font-size: 14px;
@section-wrapper-padding: 30px;

@landing-profile-height: 80%;
@landing-profile-width: 80%;
@background: @brown;

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html, body, #ng-view, #ng-body {
  height: auto;
  width: 100%;
  padding:0;
  margin:0;
}

body {
  font-family: 'Quadraat';
}

ul {
    text-align: justify;
    list-style: none;
}

li span {
    padding: auto;
}

.row {
  margin:0;
}

.page-wrap {
  padding-top: @navbar-height;
  background: @background;
}

.section-header {
  font-size: 26px;
  color: #8b181a;
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: auto;
  font-family: 'Lato';
}

.section-divider {
  width: 50px;
  border-top: 1px solid @maroon;
  margin: 30px auto;
}

.section-wrapper {
  padding: @section-wrapper-padding;
  width: 100%;
}


/*-------------------- TEMP ---------------*/


#coming-soon-wrapper {
  text-align: center;
  color: @gray;
  font-family: 'Lato';
  display: flex;
  align-items: center;

  h1 {
    text-align: center;
    width: 100%;
  }
}


/* -----------------------------------------NAVBAR (& GLOBAL) ----------------------------------------- */


a {
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.dropdown-menu{
    text-align: center;
    background-color: white;
    padding: 10px;
}

.dropdown ul li a {
  color: @maroon;
  background-color: transparent;
  font-size: @navbar-font-size;
  font-weight: 500;
}

.nav-pills {
  height: auto;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, .dropdown>ul>li>a:hover, .dropdown>ul>li>a:focus, .dropdown>ul>li>a:active, .nav > li > a:hover, .nav > li > a:focus, nav > li > a:active {
  background-color: transparent;
  text-decoration: underline;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: underline;
}

.nav-pills > li {
  float: none;
  padding: 10px;
  text-align: left;
}

.nav-pills>li>a {
  padding: 18px 15px;
  color: @maroon;
}

.navbar-header {
  height: 100%;
}

.navbar {
  font-weight: 800;
  font-size: @navbar-font-size;
  margin-bottom: @navbar-height; /* height of the navbar */
  font-family: 'Lato';
  height: @navbar-height;
  background-color: white;
}

.navbar-collapse {
  width: auto;
  float: right;
}

.navbar-fixed-top{
  margin-bottom: 0px;
}

.navbar-fixed-top .container{
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  background: url('../resources/logos/navbar_logo.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 270px;  /* TODO: can we not hardcode this? */
  padding: 0;
  background-position: 0;
}

.nav {
  background-color: white;

  .hidden-tab {
    display: none;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
  }
}

.glyphicon {
  color: @maroon;
}

/*------------------------------------------ FOOTER ---------------------------------*/

custom-footer, footer {
  height: @footer-height;
}

footer {
  float: left;
  width: 100%;
  padding: 15px 0 15px 0;
  color: @maroon;
  font-family: 'Lato';
  height: @footer-height;
  display: flex;
  align-items: center;
  background-color: white;

  span {
    display: inline-block;
    width: 33%;
    padding: 0 5%;
  }

  #footer-text {
    text-align: left;
  }

  #footer-copyright {
    text-align: right;
  }
}

#footer-social-media-icons {
  text-align: center;

  a {
    margin: 0 15px;
    height: @footer-icons-height;
    width: @footer-icons-width;

    img {
      width: inherit;
      height: inherit;
    }
  }
}

/*----------------------------------------- LANDING ----------------------------------*/

#blurb-logo {
  background: url('../resources/logos/large_logo.png');
  height: 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

#blurb {
  text-align: center;
  float: left;
  color: white;

  p {
    padding-top: 10%;
    width: 100%;
    margin: 10% auto;
    font-size: 18px;
    // border-top: 2px solid @maroon;
  }
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Quadraat';
  width: 100%;
}

#landing-background {
  margin-top: 0;
  padding-top: @navbar-height;

  video {
    display: none;
  }

  #profile-left {
    background: url('../resources/landing/sonya_mobile.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }

  #profile-left:hover {
    background: url('../resources/landing/sonya_mobile_2.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }

  #profile-right {
    background: url('../resources/landing/patricia_mobile.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }

  #profile-right:hover {
    background: url('../resources/landing/patricia_mobile_2.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }

  #profile-right, #profile-left {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    margin: auto;
    padding: 5%;

    .profile-description {
      border-top: 1px solid white;
      padding-top: @text-font-size;
    }
  }

  #col-left {
    float: left;
    align-items: center;
    display: flex;
  }

  #col-right {
    float: right;
    align-items: center;
    display: flex;
  }
}


/*--------------------------- ABOUT ----------------------------*/

#about-background {
  height: auto;
  background: @background;
  background-size: cover;

  div {
    height: auto;
  }

  .producers-wrapper {
    height: auto;
    display: inline-table;
  }
}

// #blurb-section {
//   background: url('http://placehold.it/350x150');
// }

#blurb-wrapper {
  background-color: transparent;

  p {
    padding: 10px;
    text-align: left;
  }

  img {
    display: none;
  }
}

.producers-wrapper {
  background-color: white;
  padding: 15px;
  margin: 5% auto;
  text-align: center;

  img {
    border-radius: 100px;
    margin: 30px;
    width: 150px;
    height: 150px;
  }

  .section-header {
    font-size: @subtitle-font-size;
  }
}

.producers-blurb {
  font-family: 'Quadraat';
}

#about-background {
  .team-wrapper {
    background-color: white;
    height: 300px;
    width: 25%;
    padding: 15px;
    text-align: center;
    display: inline-table;

    img {
      border-radius: 100px;
      margin: 15px;
      width: 150px;
      height: 150px;
    }

    .section-header {
      font-size: @subtitle-font-size;
    }

    .team-role, .team-sub-role {
      color: @maroon;
      font-family: 'Lato';
      font-size: @subtitle-font-size;
      height: @subtitle-font-size + 4px;
    }
  }

  #team-table {
    margin: auto;
    text-align: center;
  }

  .team-social-media {
    img {
      width: 25px;
      height: 25px;
      border-radius: 0;
      margin: 15px 5px;
    }
  }
}

#credits-section {
  background-color: white;
  margin-bottom: @footer-height;
  font-family: 'Lato';

  .sponsor {
    width: 33%;
    display: inline-block;
    text-align: center;
    padding: 15px 0;

    img {
      max-width: 100%;
      width: auto;
      height: 80px;
    }
  }

  #credits-blurb {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Quadraat';
  }
}


/* --------------------------------- NEXT ---------------------------------- */

#next-background {
  text-align: center;
  font-family: 'Quadraat';

  .section-wrapper {
    padding: 10% 20%;
  }
}

#next-blurb {
  font-size: 36px;
  color: @maroon;
}

#next-author-quote {
  font-style: italic;
  color: @maroon;
}

#contact-blurb {
  padding: 5% 20%;
  background-color: transparent;
  margin: 10% auto;

  span {
    color: @maroon;
  }
}


/* --------------------------- SONYA ------------------------------ */

#sonya-background {
  background: url('../resources/sonya/background.jpg');
  color: white;
  display: flex;
  align-items: center;
  min-height: 600px;

  h1 {
    text-align: center;
    width: 100%;
  }
}


/* --------------------------- PATRICIA ------------------------------ */

#patricia-background {
  background: url('../resources/patricia/background.jpg');
  color: white;
  display: flex;
  align-items: center;
  min-height: 600px;

  h1 {
    text-align: center;
    width: 100%;
  }
}


/* ----------------------------------------- MEDIA QUERIES ----------------------------------------- */


@media (max-width: 480px){

  /* NAVBAR */
    #r0{
      padding-left: 0;
      padding-right: 0;
    }

    .navbar .navbar-collapse {
        max-height: none;
      }

    .navbar ul {
        float: none;
    }

    .navbar ul:not {
        display: block;
    }

    .navbar li {
        float: none;
        display: block;
    }

    .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .navbar-brand {
      width: 250px;
    }

    #footer-social-media-icons a {
        height: @footer-icons-height;
        width: @footer-icons-width;
    }

    footer {
      font-size: 13px;
    }
}

@media (max-width: 690px){
  .navbar .container{
      padding-left: 10px;
      padding-right: 10px;
    }

  .nav-pills, .navbar-right{
    height: auto;
  }

  #landing-background {
    #col-right, #col-left {
      width: 100%;
      height: 30%;
    }
  }

  #about-background {
    .team-wrapper {
      width: 100%;
      margin: 5% 0;
    }
  }

  #next-blurb {
    font-size: 16px;
  }

  #next-background {
    .section-wrapper {
      padding: 10%;
    }
  }
}

@media (min-width: 690px) {
  #landing-background {
    #col-left, #col-right {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  #footer-social-media-icons {
    a {
      margin: 0 3px;
    }
  }

  #credits-section {
    .sponsor {
      width: 100%;
      margin: 5px auto;
    }
  }

  .navbar-collapse {
    right: -59px;
    position: relative;
  }

  .nav {
    .hidden-tab {
      display: block;
    }
  }
}

/*-------- BREAKING POINT FOR NAVBAR ------*/
@media (min-width: 768px){
    #contact-tab {
      display: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        border-radius: 0;
     }

     .nav {
       background-color: transparent;
     }

     .nav-pills>li {
      float: left;
      padding: 0;
      text-align: center;
     }

     .nav-pills {
       height: @navbar-height;
     }

     .nav-pills>li>a {
       display: flex;
       align-items: center;
     }

     #blurb-wrapper {
       p {
         display: inline-block;
         width: 100%;
       }

       img {
         display: inline-block;
         width: 30%;
         float: right;
         padding: 30px;
       }
     }

     .section-wrapper {
       padding: @section-wrapper-padding 80px;
       width: 100%;
     }
}

@media (min-width: 960px){
  .navbar {
    padding-left: 0;
    padding-right: 0%;
   }

   #about-background {
    .producers-wrapper {
      width: 30%;
      margin: 1.33%;
      height: 700px;
      display: inline-table;
    }
   }
}

@media (max-width: 1000px) and (min-width: 690px){

    #r0{
      padding-left: 0;
      padding-right: 0;
    }
    .navbar .container{
      padding-left: 10px;
      padding-right: 10px;
    }

    #col-left, #col-right {
      width: 50%;
    }
}


/*----------- TABLET -----------*/


@media (max-width: 1200px) {
  .navbar {
    background-color: white;
  }

  #mobile-blurb {
    display: inline-block;
    width: 100%;
    height: 600px;
    background: @background;
    background-size: cover;
    background-repeat: no-repeat;

    #blurb-logo {
      background-position: 50%;
    }

    p {
      width: 50%;
      margin: 0% auto;
      text-align: center;
    }
  }

  #blurb {
    display: none;
  }

  #landing-background {
    #profile-left, #profile-right {
      width: 100%;
      height: 300px;
      background-position-y: 0;
    }
  }

  .page-wrap {
    height: auto;
  }
}

/*--------- DESKTOP ---------*/

@media (min-width: 1200px) {

  #blurb-logo {
    margin-top: 30%
  }

  #blurb {
    p {
      padding-top: 0;
      margin: 0 auto;
      // border-top: 2px solid @maroon;
    }
  }

  #contact-form {
    width: 700px;
    margin: 30px auto;
    padding: 50px;
  }

  #landing-background {
    background-size: cover;
    background: transparent;

    video {
        display: initial;
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(polina.jpg) no-repeat;
        background-size: cover;
    }
  }

  html, body, #ng-view, #ng-body {
    height: 100%;
  }

  .page-wrap {
    height: 100%;
    /* equal to footer height */
    margin-bottom: -@footer-height;
  }

  .page-wrap:after {
    display: block;
  }

  .page-wrap:after {
    height: @footer-height;
  }

  /*---------------------------------------- LANDING ----------------------------------*/

  #mobile-blurb {
    display: none;
  }

  #landing-background {

    #profile-left {
      background: url('../resources/landing/sonya_desktop.png');
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in;
    }

    #profile-left:hover {
      background: url('../resources/landing/sonya_desktop_2.png');
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in;
    }

    #profile-right {
      background: url('../resources/landing/patricia_desktop.png');
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in;
    }

    #profile-right:hover {
      background: url('../resources/landing/patricia_desktop_2.png');
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in;
    }

    #col-left, #col-right {
       width: 33%;
     }

    padding-bottom: @footer-height;

    #profile-right, #profile-left {
      color: white;
      text-align: center;
      height: @landing-profile-height;
      width: @landing-profile-width;
    }

    .col {
      width: 33%;
      height: 100%;
      margin: 0;
    }
  }
}

@media (min-width: 1400px) {
  .section-wrapper {
    padding: @section-wrapper-padding 20%;
  }
}
