<footer>
        <span id='footer-text'></span>
        <span id='footer-social-media-icons'>
          <a href='https://www.facebook.com/shadesofoursisters/?fref=ts' id='facebook-icon'><img id='footer-facebook' src='resources/icons/facebook.png'></a>
          <a href='https://twitter.com/ofoursisters ' id='twitter-icon'><img id='footer-twitter' src='resources/icons/twitter.png'></a>
          <a href='https://www.instagram.com/shadesofoursisters/ ' id='instagram-icon'><img id='footer-instagram' src='resources/icons/instagram.png'></a>
          <a ng-href="mailto:{{contentService.email}}" id='email-icon'><img id='footer-email' src='resources/icons/email.png'></a>
        </span>
        <span id='footer-copyright'>© Upwind Productions 2016</span>
</footer>
