<navbar></navbar>

<div id='exhibition-background' class='page-wrap'>
  <div class='section-wrapper'>
    <p class='section-header'>Exhibition</p>
    <div class='section-divider'></div>

    <p id='exhibition-blurb'>
    {{exhibition_blurb}}
    </p>

    <iframe src="https://www.youtube.com/embed/Hkmp8SmtXSg" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/Hkmp8SmtXSg" frameborder="0" allowfullscreen></iframe>

    <div class="lightbox_row">
      <div class="lightbox_column" ng-repeat='slideshow_img in exhibition_slideshow_imgs'>
        <img src="{{slideshow_img}}" ng-click="openModal();currentSlide($index)" class="hover-shadow">
      </div>
    </div>

    <div>
      <a ng-href='{{full_album_link}}'>Click here to view the full album</a>
    </div>

    <div id='exhibition-modal' class="modal">
      <span class="close cursor" ng-click="closeModal()">&times;</span>

      <div class="modal-content">
        <div class="mySlides" ng-repeat='slideshow_img in exhibition_slideshow_imgs'>
          <div class="numbertext">{{$index+1}} / 6</div>
            <img src="{{slideshow_img}}" >
        </div>

        <a class="prev_btn" ng-click="plusSlides(-1)">&#10094;</a>
        <a class="next_btn" ng-click="plusSlides(1)">&#10095;</a>

        <!--div class="lightbox_column" ng-repeat='slideshow_img in exhibition_slideshow_imgs'>
          <img class="demo" src="{{slideshow_img}}" ng-click="currentSlide($index)" alt="Nature">
        </div-->
      </div>
    </div>
  </div>

  <div id='credits-section' class='section-wrapper'>
      <p class='section-header'>Thank You</p>
      <div class='section-divider'></div>
      <p id='credits-blurb'>{{thankyou_blurb}}</p>
      <div class='sponsor' ng-repeat='(url, img) in thankyou_companies'>
        <a ng-href='{{url}}'><img src={{img}}></a>
      </div>
    </div>
</div>

<custom-footer></custom-footer>
