<navbar></navbar>

<div id='next-background' class='page-wrap'>
  <div class='section-wrapper'>
    <p id='next-blurb'>{{ contentService.next_blurb }}</p>
    <div class='section-divider'></div>

    <p id='next-author-quote'>{{ contentService.next_author_quote }}</p>

    <p id='contact-blurb'>
      This page will be updated with links and resources on how you can prevent violence in your communities, and promote a safe environment. For a more extensive list, please check our <a ng-href='{{blog}}'>blog</a>. In the meantime, if you have further questions, please feel free to contact us at <a ng-href='{{email}}'>info@shadesofoursisters.com</a>. Miigwetch.
    </p>

    <div class='resource' ng-repeat='resource in contentService.resources'>
      <p class='resource-name'>{{resource.name}}</p>
      <p class='resource-numbers' ng-repeat='number in resource.numbers'>{{number}}</p>
      <a ng-href='{{resource.url}}' class='resource-site'>{{resource.site}}</a>
    </div>
  </div>
</div>

<custom-footer></custom-footer>
