<navbar></navbar>

<div id='next-background' class='page-wrap'>
  <div class='section-wrapper'>
    <p id='next-blurb'>{{ contentService.next_blurb }}</p>
    <div class='section-divider'></div>

    <p id='next-author-quote'>{{ contentService.next_author_quote }}</p>

    <p id='contact-blurb'>
      {{contentService.contact_blurb}}
      <span>{{ contentService.email }}</span>
      {{contentService.miigwetch}}
    </p>

    <div class='resource' ng-repeat='resource in contentService.resources'>
      <p class='resource-name'>{{resource.name}}</p>
      <p class='resource-numbers' ng-repeat='number in resource.numbers'>{{number}}</p>
      <p class='resource-site'>{{resource.site}}</p>
    </div>
  </div>
</div>

<custom-footer></custom-footer>
