<navbar></navbar>

<div id='exhibition-background' class='page-wrap'>
  <div class='section-wrapper'>
    <p class='exhibition-intro-header section-header'>{{ exhibition_blurb1 }}</p>
    <div class='section-divider'></div>
    <p class='exhibition-intro-header section-header'>{{ exhibition_blurb2 }}</p>
  </div>

  <div class='section-wrapper'>
    <img src='./resources/about/team/josephine.png'>
    <div id='exhibition-textbox1' class='exhibition-textbox'>
      <p class='exhibition-textbox-quote'>{{ exhibition_blurb3 }}</p>
      <p>{{ exhibition_blurb4 }}</p>
    </div>
    <img src='./resources/about/team/josephine.png'>

    <div id='exhibition-textbox2' class='exhibition-textbox'>
      <p>{{ exhibition_blurb5 }}</p>
      <p class='exhibition-textbox-quote'>{{ exhibition_blurb6 }}</p>
      <p>{{ exhibition_blurb7 }}</p>
    </div>
    <img src='./resources/about/team/josephine.png'>
    <img src='./resources/about/team/josephine.png'>

    <div id='exhibition-schedule-block'>
      <p class='exhibition-schedule'>Shades of Our Sisters Exhibition Schedule</p>
      <div ng-repeat='exhibition in exhibition_schedule'>
        <p class='exhibition-city'>{{ exhibition.city }}</p>
        <p>{{ exhibition.location }}</p>
        <p ng-repeat='date in exhibition.dates'>{{ date }}</p>
      </div>
    </div>
  </div>

  <div class='section-wrapper'>
    <p class='section-header'>Join the Conversation</p>
    <div class='section-divider'></div>

    <div id='exhibition-textbox3' class='exhibition-textbox'>
      <p>Throughout the next week, we are asking those who attend the exhibition to join the conversation on <a href='https://twitter.com'>Twitter</a> by using the hashtag, <a href='https://twitter.com'>#HowSheLived</a> and <a href='https:/twitter.com'>#MMIWG</a>. Feel free to upload any images, videos or simply help us spread the word about Shades of Our Sisters.</p>
    </div>
  </div>

  <div id='twitter-wrapper' class='section-wrapper'>
    <a class="twitter-timeline"  href="https://twitter.com/search?q=%40ofOurSisters%20OR%20%23HowSheLived%20OR%20%23MMIWG" data-widget-id="823550916729016320">Tweets about @ofOurSisters OR #HowSheLived OR #MMIWG</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<custom-footer></custom-footer>
